# compiled output
/dist
/node_modules

DATABASE_URL=rds-cloud-x-database.cfubw7y2i0kk.eu-west-1.rds.amazonaws.com
PORT_DATABASE=5432
NAME_DATABASE=cloud_x
USER_DATABASE=postgres
PASSWORD_DATABASE=wertey231090

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local